<h1>Groups</h1>

<% if @groups.present? %>
    <div class="row">
            <% @groups.each do |group| %>
                <div class="col-3">
                    <div class="card" style="width: 152px; height: 300px;">
                    <% if group.cover_picture.attached? %>
                        <%= image_tag group.cover_picture, style: 'width: 148px; height: 150px;' %>
                    <% else %>
                        <%= image_tag('default.jpg', style: 'width: 148px; height: 150px;') %>
                    <% end %>
                    <div class="card-body">
                        <%= link_to group.name&.cut_string, group_path(group) %>
                        <p class="card-text">Friends: <%= group.users&.count %></p>
                        <%= link_to 'Edit', edit_group_path(group), class: 'text-success' %><br>
                        <%= button_to 'Delete', { controller: "groups", action: "destroy", id: group.id }, method: :delete %>
                    </div>
                    </div>
                </div>
            <% end %>
      </div>
<% else %>
    <br><h5><i>There are no groups at the moment. Create one by clicking the above button.</i></h5>
<% end %>