<h1><i><%= "#{@group.name&.capitalize} - Expenses" %></i></h1><br>

<%= link_to "Add Expense", new_group_expense_path(@group.id), class: 'btn btn-warning' %><br><br>

<% if @expenses.empty? %>
    <h3>There are no expenses. Add one now.</h3><br>
<% else %>
    <div class="row">
        <% @expenses.each do |expense| %>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to expense.category, group_expense_path(@group.id, expense) %></h5>
                    <h6 class="card-text"><%= expense.name&.capitalize&.cut_string %></h6>
                    <h6 class="card-text"><%= expense.expense %><i><%= expense.currency %></i></h6>
                </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
