<%= link_to "Download the Bill", group_expenses_path(format: 'csv', expense_id: @expense.id), class: 'btn btn-warning' %><br><br>
<%= button_to 'Delete', { controller: "expenses", action: "destroy", expense_id: @expense.id }, method: :delete, class: 'btn btn-danger' %>

<b>Category:</b> <%= @expense.category %><br>
<b>Total Expense:</b> <%= @expense.expense %><br><br>

<% @liabilities.each do |liability| %>
    <% if liability.credit? %>
        <p class = "text-success"><%= User.find(liability.user_id).name %> needs to be credited <%= liability.amount&.round(2) %><i><%= @expense.currency %></i></p><br>
    <% elsif liability.debit? %>
        <p class = "text-danger"><%= User.find(liability.user_id).name %> owes <%= liability.amount&.round(2) %> <i><%= @expense.currency %></i> to <%= User.find(liability.liable_to).name %></p><br>
    <% end %>
<% end %>